<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
	<title>ログイン</title>
</head>
<body class="text-center pt-5">
	<div class="col-sm-5 m-auto">
		<div th:if = "${errorMessages != null}">
			<div th:each="errorMessage :${ errorMessages }">
				<p th:text="${errorMessage}"></p>
			</div>
		</div>
		<div>
			<form method="post" th:action="@{/login}" th:object="${userForm}">
				<table class="table table-bordered table-hover">
					<tr>
						<th class="table-active">アカウント</th>
						<td>
							<input type="text" name="account" class="form-control">
						</td>
					</tr>
					<tr>
						<th class="table-active">パスワード</th>
						<td>
							<input type="password" name="password" class="form-control">
						</td>
					</tr>
				</table>
				<button class="btn btn-primary" type="submit" value="ログイン">ログイン</button>
			</form>
		</div>
	</div>
</body>
</html>
