<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
	<title>ユーザー管理画面</title>
	<script type="text/javascript">
		function stopConfirm(){
			myRet = window.confirm("このユーザーのアカウントを停止します。よろしいですか？");
			if ( myRet == true ){
				alert("停止しました。");
				return true;
		    } else {
		    	alert("キャンセルされました。");
		    	return false;
		    }
		}
		function continueConfirm(){
			myRet = window.confirm("このユーザーのアカウントを復活します。よろしいですか？");
			if ( myRet == true ){
				alert("復活しました。");
				return true;
		    } else {
		    	alert("キャンセルされました。");
		    	return false;
		    }
	}
	</script>
</head>
<body class="text-center pt-5">
	<div class="col-sm-10 m-auto">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="collapse navbar-collapse">
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav m-auto">
						<li class="nav-item">
							<a th:href="@{/}">ホーム</a>
						</li>
						<li class="nav-item pl-4">
							<a th:href="@{/signup}">ユーザー新規登録</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	<div th:if = "${errorMessages != null}">
		<div th:each="errorMessage :${ errorMessages }">
			<p th:text="${errorMessage}"></p>
		</div>
	</div>

		<table class="table table-bordered table-hover table-striped">
			<tr>
				<th class="table-info">アカウント名</th>
				<th class="table-info">名前</th>
				<th class="table-info">所属支社</th>
				<th class="table-info">所属部署</th>
				<th class="table-info">ユーザーステータス</th>
				<th class="table-info">ユーザー編集</th>
				<th class="table-info">ユーザー停止/復活</th>
			</tr>

			<tr th:each = "users : ${userInfo}">
				<td class="account user" th:text = "${users.account}"></td>
				<td class="name user" th:text="${users.name}"></td>
				<td class="branchName user" th:text="${users.branch.name}"></td>
				<td class="departmentName user" th:text="${users.department.name}"></td>
				<td class="isStopped user" th:text="${users.isStopped}"></td>
				<td>
					<form method="get" th:action="@{/setting}">
						<a th:href="@{/setting/{id}(id=${users.id})}">
							<input type="hidden" name="userId" th:value="${users.id}">
							<button class="btn btn-primary" type="submit" value="編集">編集</button>
						</a>
					</form>
				</td>

				<td th:if="${users.id == loginUser.id}">
					<div th:if="${users.isStopped == FALSE}">
						<form method="post" th:action="@{/management/status/{id}(id=${users.id})}" onSubmit="return stopConfirm()">
							<input type="hidden" name="userId" th:value="${users.id}">
							<input type="submit" th:value="停止" class="button" disabled="disabled">
							<input type="hidden" name="isStopped"  th:value = TRUE>
						</form>
					</div>
				</td>

				<td th:if="${users.id != loginUser.id}">
					<div th:if="${users.isStopped != FALSE}">
						<form method="post" th:action="@{/management/status/{id}(id=${users.id})}" onSubmit="return continueConfirm()">
							<input type="hidden" name="userId" th:value="${users.id}">
							<button class="btn btn-success" type="submit" value="復活">復活</button>
							<input type="hidden" name="isStopped"  th:value = FALSE>
						</form>
					</div>
					<div th:if="${users.isStopped == FALSE}">
						<form method="post" th:action="@{/management/status/{id}(id=${users.id})}" onSubmit="return stopConfirm()">
							<input type="hidden" name="userId" th:value="${users.id}">
							<button class="btn btn-danger" type="submit" value="停止">停止</button>
							<input type="hidden" name="isStopped"  th:value = TRUE>
						</form>
					</div>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>