<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
	<title>新規投稿画面</title>
</head>
<body class="text-center pt-5">
	<div class="col-sm-5 m-auto">
		<div th:if = "${errorMessages != null}">
			<div th:each="errorMessage :${ errorMessages }">
				<p th:text="${errorMessage}"></p>
			</div>
		</div>

		<form method="post" th:action="@{/message}">
			<table class="table table-bordered table-hover">
				<tr>
					<th class="table-active">件名</th>
					<td>
						<input th:if="${message.title == null}" type="text" name="title" class="form-control">
						<input th:if="${message.title != null}" type="text" name="title" class="form-control" th:value="${message.title}">
					</td>
				</tr>
				<tr>
					<th class="table-active">カテゴリ</th>
					<td>
						<input th:if="${message.category == null}" type="text" name="category" class="form-control">
						<input th:if="${message.category != null}" type="text" name="category" class="form-control" th:value="${message.category}">
					</td>
				</tr>
				<tr>
					<th class="table-active">投稿内容</th>
					<td>
						<textarea th:if="${message.text == null}" name="text" class="form-control"></textarea>
						<textarea th:if="${message.text != null}" name="text" class="form-control" th:text="${message.text}"></textarea>
					</td>
				</tr>
			</table>
			<nav class="navbar navbar-expand-lg">
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a th:href="@{/}">戻る</a>
						</li>
					</ul>
					<button class="btn btn-warning" type="submit" value="投稿">投稿</button>
				</div>
			</nav>
		</form>
	</div>
</body>
</html>