<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
	<title>ユーザー編集画面</title>
</head>
<body class="text-center">
	<div class="col-sm-5 m-auto">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a th:href="@{/}">ホーム</a>
					</li>
					<li class="nav-item pl-4">
						<a th:href="@{/management}">ユーザー管理</a>
					</li>
				</ul>
			</div>
		</nav>
		<div th:each="errorMessage : ${errorMessages}">
			<label th:text="${errorMessage}"></label>
		</div>
		<div class="main-contents pt-4">
			<form th:method="post" th:action="@{/update}" th:object="${editUser}">
				<table class="table table-bordered table-hover">
					<tr>
						<th class="table-active">アカウント名</th>
						<td>
							<input type="hidden" name="id" th:value="${editUser.id}">
							<input id="account" name="account" th:value="${editUser.account}" class="form-control">
						</td>
					</tr>
					<tr>
						<th class="table-active">パスワード</th>
						<td>
							<input type="password" id="password" name="password" class="form-control">
						</td>
					</tr>
					<tr>
						<th class="table-active">確認用パスワード</th>
						<td>
							<input type="password" id="checkPassword" name="checkPassword" class="form-control">
						</td>
					</tr>
					<tr>
						<th class="table-active">名前</th>
						<td>
							<input id="name" name="name" th:value="${editUser.name}" class="form-control">
						</td>
					</tr>
					<tr>
						<th class="table-active">支社</th>
						<td>
							<select name="branchId" th:if="${loginUser.id != editUser.id}" class="form-control">
								<option
									th:each="branch : ${branches}"
									th:value="${branch.id}"
									th:text="${branch.name}"
									th:field="*{branchId}"
									th:if="${loginUser.id == editUser.id}" selected>
								</option>
								<option
					        		th:each="branch : ${branches}"
									th:value="${branch.id}"
									th:text="${branch.name}"
									th:field="*{branchId}"
									th:if="${loginUser.id != editUser.id}">
					        	</option>
							</select>
							<select name="branchId" th:if="${loginUser.id == editUser.id}" disabled class="form-control">
					        	<option
					        		th:each="branch : ${branches}"
									th:value="${branch.id}"
									th:text="${branch.name}"
									th:field="*{branchId}"
									th:if="${branch.id == editUser.branchId}" selected>
					        	</option>
					        	<option
					        		th:each="branch : ${branches}"
									th:value="${branch.id}"
									th:text="${branch.name}"
									th:field="*{branchId}"
									th:if="${branch.id != editUser.branchId}">
					        	</option>
					        </select>
						</td>
					</tr>
					<tr>
						<th class="table-active">部署</th>
						<td>
							<select name="departmentId" th:if="${loginUser.id != editUser.id}" class="form-control">
					        	<option
					        		th:each="department : ${departments}"
									th:value="${department.id}"
									th:text="${department.name}"
									th:field="*{departmentId}"
									th:if="${loginUser.id == editUser.id}" selected>
					        	</option>
					        	<option
					        		th:each="department : ${departments}"
									th:value="${department.id}"
									th:text="${department.name}"
									th:field="*{departmentId}"
									th:if="${loginUser.id != editUser.id}" >
					        	</option>
							</select>
							<select name="departmentId" th:if="${loginUser.id == editUser.id}" disabled class="form-control">
					        	<option
					        		th:each="department : ${departments}"
									th:value="${department.id}"
									th:text="${department.name}"
									th:field="*{departmentId}"
									th:if="${department.id == editUser.departmentId}" selected>
					        	</option>
					        	<option
					        		th:each="department : ${departments}"
									th:value="${department.id}"
									th:text="${department.name}"
									th:field="*{departmentId}"
									th:if="${department.id != editUser.departmentId}">
					        	</option>
					        </select>
						</td>
					</tr>
				</table>
				<nav class="navbar navbar-expand-lg">
					<div class="collapse navbar-collapse" id="navbarText">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a th:href="@{/management}">戻る</a>
							</li>
						</ul>
						<button class="btn btn-success" type="submit" value="更新">更新</button>
					</div>
				</nav>
			</form>
		</div>
	</div>
</body>
</html>