<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
<title>TOP</title>
<script type="text/javascript">
	function deleteMessageConfirm() {
		myRet = window.confirm("この投稿を削除します。よろしいですか？");
		if (myRet == true) {
			alert("削除しました。");
			return true;
		} else {
			alert("キャンセルされました。");
			return false;
		}
	}
	function deleteCommentConfirm() {
		myRet = window.confirm("この返信を削除します。よろしいですか？");
		if (myRet == true) {
			alert("削除しました。");
			return true;
		} else {
			alert("キャンセルされました。");
			return false;
		}
	}
</script>
</head>
<body class="text-center">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="collapse navbar-collapse">
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a th:href="@{/message}">新規投稿</a></li>
					<li class="nav-item pl-4"><a th:href="@{/management}"
						th:if="${loginUser.branchId == 1 && loginUser.departmentId == 1}">ユーザー管理</a>
					</li>
				</ul>
				<span class="navbar-text"> <a th:href="@{/logout}">ログアウト</a>
				</span>
			</div>
		</div>
	</nav>
	<div th:if="${managementErrorMessages != null}">
		<div th:each="errorMessage :${ managementErrorMessages }">
			<p th:text="${errorMessage}"></p>
		</div>
	</div>
	<div th:if="${errorMessages != null}">
		<div th:each="errorMessage :${ errorMessages }">
			<p th:text="${errorMessage}"></p>
		</div>
	</div>

	<div class="carender-area pt-4">
		<form th:action="@{/}" th:method="get">

			日付<input name="start" type="date" th:value="${start}" />～<input
				name="end" type="date" th:value="${end}" /> カテゴリ<input
				name="category" type="text" th:value="${category}" /> <input
				type="submit" value="絞込" class="button">
		</form>
		<a href="./">
			<button class="button" type="submit" value="絞込解除">絞込解除</button>
		</a>
	</div>

	<div class="col-sm-12 m-auto">
		<div th:each="message : *{messages}">

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="collapse navbar-collapse">
					<div class="collapse navbar-collapse justify-content-center" id="navbarText">
						<ul class="navbar-nav d-flex align-items-center">
							<li class="nav-item">
								<div th:text="*{message.user.name}">
							</li>
							<li class="nav-item pl-4">
								<div th:text="*{message.title}"></div>
							</li>
							<li class="nav-item pl-4">
								<div th:text="*{message.category}"></div>
							</li>
							<li class="nav-item pl-4">
								<div
									th:text="*{#dates.format(message.createdDate, 'yyyy/MMM/dd HH:mm')}"></div>
							</li>
							<li class="nav-item pl-4">
								<form th:method="post"
									th:action="@{/delete/{id}(id=${message.id})}"
									th:if="${loginUser.id} == ${message.userId}"
									onSubmit="return deleteMessageConfirm()">
									<button class="btn btn-primary" type="submit" value="削除">削除</button>
								</form>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="pt-4 pb-2">
				<div
					th:utext="${#strings.replace(#strings.escapeXml(message.text), T(java.lang.System).getProperty('line.separator'), '&lt;br /&gt;')}"></div>
			</div>



			<div>

				<form th:method="post"
					th:action="@{/addComment/{messageId}(messageId=${message.id})}">

					<div class="form-group col-7 m-auto">
						<label for="textarea1">コメント入力欄:</label>

						<textarea name="text" rows="3" class="form-control"></textarea>
					</div>

					<div class="pt-2 pb-4">
						<div class="col-auto">
							<button type="submit" class="btn btn-warning mb-2">投稿</button>
						</div>
						<div th:each="comment : *{comments}">
							<table th:if="${message.id} == ${comment.messageId}"
								class="table table-bordered col-7 m-auto">
								<tr>
									<th class="table-info">名前</th>
									<th class="table-info">時間</th>
									<th class="table-info">コメント</th>
									<th th:if="${loginUser.id} == ${comment.userId}" class="table-info">削除</th>
								</tr>

								<tr>
									<td th:text="*{comment.user.name}">
									<td
										th:text="*{#dates.format(comment.createdDate, 'yyyy/MMM/dd HH:mm')}">
									<td
										th:utext="${#strings.replace(#strings.escapeXml(comment.text), T(java.lang.System).getProperty('line.separator'), '&lt;br /&gt;')}">
									<td th:if="${loginUser.id} == ${comment.userId}">
										<form th:method="post"
											th:action="@{/deleteComment/{id}(id=${comment.id})}"
											th:if="${loginUser.id} == ${comment.userId}"
											onSubmit="return deleteCommentConfirm()">
											<button class="btn btn-danger" type="submit" value="削除">削除</button>
										</form>
									</td>
								</tr>
								<div class="pt-4">
							</table>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
